<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>org.semmelstulle.peawell.MainAction</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Peawell</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>org.semmelstulle.peawell.ActionsAction</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Actions</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>org.semmelstulle.peawell.RemindersAction</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Reminders</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>org.semmelstulle.peawell.SettingsAction</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Settings</string>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
