<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Modules</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use mood module</string>
			<key>Key</key>
			<string>settingShowMoodSection</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use medication module</string>
			<key>Key</key>
			<string>settingShowMedicationSection</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Set App Icon</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>App Icon</string>
			<key>Key</key>
			<string>selectedAppIcon</string>
			<key>DefaultValue</key>
			<string>AppIcon</string>
			<key>Titles</key>
			<array>
				<string>AppIcon</string>
				<string>AppIconAlt1</string>
				<string>AppIconAlt2</string>
			</array>
			<key>Values</key>
			<array>
				<string>AppIcon</string>
				<string>AppIconAlt1</string>
				<string>AppIconAlt2</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Set Accent Color</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Accent Color</string>
			<key>Key</key>
			<string>selectedAccentColor</string>
			<key>DefaultValue</key>
			<string>Green</string>
			<key>Titles</key>
			<array>
				<string>AccentColor</string>
				<string>AccentColor 1</string>
				<string>AccentColor 2</string>
				<string>AccentColor 3</string>
				<string>AccentColor 4</string>
			</array>
			<key>Values</key>
			<array>
				<string>AccentColor</string>
				<string>AccentColor 1</string>
				<string>AccentColor 2</string>
				<string>AccentColor 3</string>
				<string>AccentColor 4</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Delete data</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reset data on next launch</string>
			<key>Key</key>
			<string>resetOnLaunch</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
